/* Estilos para el contenedor principal */
.container-fluid {
    border: 2px solid #ccc;
    margin: 20px;
    margin-right: 20px;
}

/* Estilos para el título del formulario */
.payment-title {
    background-color: lightblue;
    padding: 5px;
    border-radius: 10px;
    color: black;
    font-size: 24px;
    text-align: center;
    width: 100%;
   
}

